# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
*.sqlite3
db.sqlite3-journal
media/

# Environment files
.env

# Static / Build
staticfiles/
frontend/build/

# Editor / OS files
.vscode/
.idea/
.DS_Store
*.log

client_secret_1089861595391-fu2n329acr68cm2j59c76sd6rjl09l7r.apps.googleusercontent.com.json
os