asgiref==3.9.1
Django==4.2.25
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-ratelimit==4.1.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
phonenumbers==8.12.57
Pillow==11.3.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pytz==2025.2
sqlparse==0.5.3
whitenoise==6.12.0
cryptography==44.0.2
cloudinary==1.44.1
email-validator==2.2.0
gunicorn==23.0.0
cuid==0.4
pydantic==2.12.3
typing_extensions==4.15.0
requests==2.32.5
google-api-python-client==2.170.0
google-auth==2.40.1
google-auth-oauthlib==1.2.2
